.reservation {
	margin-bottom: 3rem;
	padding-bottom: 2rem;
	border-bottom: 1px dashed #ccc;
}

.nameSingle {
	font-size: 1.5rem;
	font-weight: bold;
}

.dateSingle {
	opacity: 70%;
}

.partySizeSingle {
	font-weight: bold;
}
